.form-title-wrapper {
  background-color: #e1e1e1;
  padding: 2rem 0;
  color: #0A135C;
  margin-bottom: 2rem;
  text-align: center;
}

form {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 1rem;
  max-width: 400px;
  margin: 0 auto;
}

label {
  margin-bottom: 0.5rem;
  font-weight: bold;
}

input {
  padding: 1rem;
  width: 10rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 1rem;
}

.second-container {
  padding: 3rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  margin-right: 3rem;
  margin-left: 3rem;
}

.btn-form {
  padding: 1rem;
  border-radius: 1rem;
  font-size: 1.2rem;
  font-weight: bold;
  background-color: #11ACED;
  border: none;
  color: #fff;
  width: 10rem;
  height: 5rem;
}

.btn-submit:hover {
  background-color: #5686FF;
}

.form-paragraph {
  padding: 2rem;
  margin-bottom: 3rem;
  background-color: #11ACED;
  text-align: center;
}

.calories-pannel {
  margin-bottom: 2rem;
  text-align: center;
  display: flex;
  justify-content: center;
}

.calories {
  font-size: 2.5rem;
  font-weight: 700;
}

.calories-used {
  border-radius: 50%;
  border: #1e1e1e solid 1px;
  width: 12rem;
  height: 12rem;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.dairy-calories {
  display: flex;
  justify-content: space-between;
  padding-top: 2rem;
  padding-bottom: 2rem;
  border-bottom: #1e1e1e solid 1px;
  margin-bottom: 2rem;
}

@media screen and (min-width: 590px) {
 form {
  grid-template-columns: repeat(2, 1fr);
 }
}
