.header {
  margin-bottom: 5rem;
}

.header-top {
  padding: 1rem 0;
  background-color: #4CABE4;
}

.container-header {
  border-bottom: 1px solid #e1e1e1;
}

.user-icon {
  font-size: 1.5rem;
  color: #11ACED;
}

.wrapper-user-icon {
  background-color: #fff;
  border-radius: 50%;
  width: 4rem;
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-top-icon {
  display: flex;
  justify-content: space-between;
}
